body {
    background-image: url("/DefinitelyNotTetris/assets/pages/images/Background.png")
    
}
.button {
    display: block;
    border-radius: 6px;
    background-color: #303036;
    border: none;
    color: #FFFAFF;
    text-align: center;
    font-size: 30px;
    padding: 50px;
    width: 500px;
    transition: all 0.5s;
    margin: 10px;
    margin-left:auto;
    margin-right: auto;
    cursor: pointer;
    position: relative;

}
.button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span{
    padding-right: 25px;
}
.button:hover span:after{
    opacity:1;
    right: 0;
}
#mainHeader{
    color: #1f1300;
    font-size: 65px;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 25px;
}
.hero-btn.blue-btn{
    border: 1px solid #f44336;
    background: blue;
    color: black;
}

.hero-btn.blue-btn:hover{
    border: 1px solid black;
    background: red;
    color: black;
}
.hero-btn.blue-btn::after{
    background: black;
}
.hero-btn.blue-btn::before{
    background: black;
}.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid #fff;
    padding: 25px 34px;
    font-size: 30px;
    background: red;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
    margin: 10px;
    font-family:cursive;
    width: 500px;
    transition: 1s;
    
   

}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
}
.hero-btn.green-btn{
    border: 1px solid #f44336;
    background: blue;
    color: black;
}

.hero-btn.green-btn:hover{
    border: 1px solid black;
    background: green;
    color: black;
}
.hero-btn.green-btn::after{
    background: black;
}
.hero-btn.green-btn::before{
    background: black;
}
.hero-btn.yellow-btn{
    border: 1px solid #f44336;
    background: blue;
    color: black;
}

.hero-btn.yellow-btn:hover{
    border: 1px solid black;
    background: yellow;
    color: black;
}
.hero-btn.yellow-btn::after{
    background: black;
}
.hero-btn.yellow-btn::before{
    background: black;
}
.hero-btn.pink-btn{
    border: 1px solid #f44336;
    background: blue;
    color: black;
}

.hero-btn.pink-btn:hover{
    border: 1px solid black;
    background: pink;
    color: black;
}
.hero-btn.pink-btn::after{
    background: black;
}
.hero-btn.pink-btn::before{
    background: black;
}
.hero-btn.button5-btn{
    border: 1px solid #f44336;
    background: blue;
    color: black;
}

.hero-btn.button5-btn:hover{
    border: 1px solid black;
    background: #ec2bbc;
    color: black;
}
.hero-btn.button5-btn::after{
    background: black;
}
.hero-btn.button5-btn::before{
    background: black;
}
.hero-btn.button6-btn{
    border: 1px solid #f44336;
    background: blue;
    color: black;
}

.hero-btn.button6-btn:hover{
    border: 1px solid black;
    background: #f18d09;
    color: black;
}
.hero-btn.button6-btn::after{
    background: black;
}
.hero-btn.button6-btn::before{
    background: black;
}
.button.button7-btn:hover{
    border: 1px solid black;
    background: #c836f4;
    color: black;
    cursor: pointer;
    
}
.button.button7-btn::after{
    background: black;
}
.button.button7-btn::before{
    background: black;
}
.button.button7-btn{
    border: 1px solid #f44336;
    background: blue;
    color: black;
}
.container {
    height: 200px;
    position: relative;
    border: 3px solid green;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
