body{
    text-align: center;
    background-image: url("/DefinitelyNotTetris/Assets/Images/Background.png");
}
#canvas{
    background: #000;
    margin-left: 10px;
    margin-top: 10px;
    border-style: solid;
    border-width: 4px;
    border-radius: 4%;
    border-color: #9B5094;
    background-color: #c27ba0;

}
#pause_overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#pause_message {
    position: fixed;
    width: 100%;
    color: rgb(124, 176, 255);
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    font-weight: bold;
    margin: auto;
    padding: auto;
    top: 250px;
    vertical-align: middle;
    line-height: 140px;
    transform: rotate(0deg);
}



#game_over-lay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

#game_over_message {
    position: fixed;
    width: 100%;
    color: rgb(124, 176, 255);
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    font-weight: bold;
    margin: auto;
    padding: auto;
    top: 250px;
    line-height: 140px;
    vertical-align: middle;
    transform: rotate(0deg);
}

#smalltxt {
    font-size: 40px;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    width: 100%;
    height: 80px;
}


#exit {
    background-color: rgb(255, 83, 83);
    color: white;

}

#try_again {
    background-color: rgb(102, 255, 153);
    color: rgb(85, 85, 85);
}

#restart {
    background-color: rgb(255, 128, 128);
    color: white;

}

#continue {
    background-color: rgb(102, 255, 153);
    margin-right: 60px;
    color: rgb(85, 85, 85);
}


.buttonwrapper {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    display: inline-block;
    width: 400px;
    height: 80px;
    line-height: 75px;
    font-size: 28px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 4px;
    text-align: center;
    position: relative;
    border-radius: 40px;
}

  .hover-effect {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  } 
  
  .hover-effect:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 50px;
    text-shadow: 1px 1px 2px #427388; 
  }